In [626]:
import numpy as np 
import pandas as pd

In [627]:
df =pd.read_csv('cust_satisfaction.csv')

In [628]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [629]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [630]:
df.describe().sum()

Age                           104168.494670
Flight Distance               114104.595656
Inflight entertainment        103923.691148
Baggage handling              103926.812737
Cleanliness                   103922.598624
Departure Delay in Minutes    105561.046519
Arrival Delay in Minutes      105244.877360
dtype: float64

In [631]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [632]:
df.dropna(inplace=True)
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [633]:
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [634]:
df.duplicated().sum()

np.int64(172)

In [635]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [636]:
df['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [637]:
dt  = {
    'Loyal Customer' : 1,
    'disloyal Customer' : 0
    }
# dt.keys()
# dt.values()
df['Customer Type']=df['Customer Type'].map(dt)

In [638]:
df['Customer Type'].unique()

array([1, 0])

In [639]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,1,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,0,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,1,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,1,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,1,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,0,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,1,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,0,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,0,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,1,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [640]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [641]:
dt1 = {
    'Male' : 1,
    'Female' : 0}
df['Gender']=df['Gender'].map(dt1)

In [642]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,0,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,1,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,1,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,0,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,0,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [643]:
df['Gender'].unique()

array([1, 0])

In [644]:
df['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [645]:
d = {
    'Personal Travel':0,
    'Business travel':1
}

In [646]:
df['Type of Travel']=df['Type of Travel'].map(d)

In [647]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,0,1,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,1,1,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,1,1,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,1,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,1,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,0,1,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,0,1,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,1,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [648]:
df['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [649]:
d1 = {
    'Eco':2,
    'Eco Plus':1,
    'Business':0
}

In [650]:
df['Class']=df['Class'].map(d1)

In [651]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,1,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,0,1,0,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,1,1,0,satisfied,26,1142,5,4,5,0,0.0
3,0,1,1,0,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,1,0,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,2,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,1,0,satisfied,49,2347,5,5,4,0,0.0
103901,1,0,1,0,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,0,1,2,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,1,0,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [652]:
df.duplicated().sum()

np.int64(0)

In [653]:
df['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [654]:
d2={
    'neutral or dissatisfied':2,
    'satisfied':1
}

In [655]:
df['satisfaction'] = df['satisfaction'].map(d2)

In [656]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,1,2,13,460,5,4,5,25,18.0
1,1,0,1,0,2,25,235,1,3,1,1,6.0
2,0,1,1,0,1,26,1142,5,4,5,0,0.0
3,0,1,1,0,2,25,562,2,3,2,11,9.0
4,1,1,1,0,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,2,2,23,192,2,4,2,3,0.0
103900,1,1,1,0,1,49,2347,5,5,4,0,0.0
103901,1,0,1,0,2,30,1995,4,4,4,7,14.0
103902,0,0,1,2,2,22,1000,1,1,1,0,0.0
103903,1,1,1,0,2,27,1723,1,4,1,0,0.0

In [657]:
df['Baggage handling'].unique()

array([4, 3, 5, 1, 2])

In [658]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,1,2,13,460,5,4,5,25,18.0
1,1,0,1,0,2,25,235,1,3,1,1,6.0
2,0,1,1,0,1,26,1142,5,4,5,0,0.0
3,0,1,1,0,2,25,562,2,3,2,11,9.0
4,1,1,1,0,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,2,2,23,192,2,4,2,3,0.0
103900,1,1,1,0,1,49,2347,5,5,4,0,0.0
103901,1,0,1,0,2,30,1995,4,4,4,7,14.0
103902,0,0,1,2,2,22,1000,1,1,1,0,0.0
103903,1,1,1,0,2,27,1723,1,4,1,0,0.0

In [659]:
from sklearn.model_selection import train_test_split

In [660]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,1,2,13,460,5,4,5,25,18.0
1,1,0,1,0,2,25,235,1,3,1,1,6.0
2,0,1,1,0,1,26,1142,5,4,5,0,0.0
3,0,1,1,0,2,25,562,2,3,2,11,9.0
4,1,1,1,0,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,2,2,23,192,2,4,2,3,0.0
103900,1,1,1,0,1,49,2347,5,5,4,0,0.0
103901,1,0,1,0,2,30,1995,4,4,4,7,14.0
103902,0,0,1,2,2,22,1000,1,1,1,0,0.0
103903,1,1,1,0,2,27,1723,1,4,1,0,0.0

In [661]:
x = df.drop(columns=['Customer Type'],axis=1)
y = df['Customer Type']

In [662]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [663]:
x_train

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
71834,0,1,2,2,50,179,5,4,5,24,17.0
76517,1,0,2,2,21,1120,1,4,1,38,50.0
29502,1,1,0,1,48,3403,5,5,4,13,39.0
7185,1,1,0,2,56,1721,2,2,3,41,45.0
31081,0,1,2,1,52,933,5,5,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6284,1,0,2,2,27,1671,4,4,4,35,49.0
55092,0,0,0,2,23,255,4,5,4,0,0.0
77137,1,1,2,2,39,761,4,3,4,0,0.0
861,0,1,0,1,24,1013,3,2,3,25,13.0
15837,1,0,2,2,53,305,4,5,4,42,36.0

In [664]:
y_train

71834    0
76517    1
29502    1
7185     1
31081    1
        ..
6284     1
55092    1
77137    0
861      1
15837    1
Name: Customer Type, Length: 82737, dtype: int64

In [665]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [666]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [667]:
y_pred = rf.predict(x_test)

In [668]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], shape=(20685,))

In [669]:
from sklearn.metrics import accuracy_score

In [670]:
accuracy_score(y_pred,y_test)

0.9421803239062122

In [671]:
from sklearn.ensemble import AdaBoostClassifier

In [672]:
adbc = AdaBoostClassifier()

In [673]:
g = adbc.fit(x_train,y_train)

In [674]:
adbc_pred = adbc.predict(x_test)

In [675]:
accuracy_score(adbc_pred,y_test)

0.9050519700265893